

*{
	background-color: rgb(40,40,40);
}

body{
	text-align: center;
}
h1{
	font-family: Josefin sans;
	color: rgb( 230,230,230); 
	font-size: 50px;
	margin-left: 33%;
	border-bottom: 2px solid rgb(100,100,100);
	width: 32%;
	padding-bottom: 15px;
}


img{
	width: 24%;
	height: 375px;
	float: left;
	margin: 4%;
	
}
div a{
		border: 2px solid #fff;
		background-color: rgb(40,40,40);
		color: #fff;
		padding: 10px;
		text-decoration: none;
		font-size: 30px;
	}
	div a:hover{
		background-color: #ff0;
		color: #262626;
		border: 2px solid black;
	}