
html{
	height: 100%;
}

body{
	margin: 0;
	padding: 0;
	
}




.logo{
	position: fixed;
	float: left;
	margin: 16px 25px;
	
}

.logo a{
	text-decoration: none;
	color: #e2e2e2;
	font-weight: bold;
	font-size: 24px;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.3),
				0px 8px 13px rgba(0,0,0,0.3),
				0px 18px 23px rgba(0,0,0,0.3);
	letter-spacing: 5px;
	font-family: staatliches;


}


.logo a:hover{
	text-decoration: underline;
}

#red{

	color: #ec3939;
	 
}


nav {
	position: fixed;
	width: 100%;
}

nav ul{
	list-style: none;
	background: rgba(98, 136, 180,0.8);
	overflow: hidden;
	color: #fff;
	padding: 0;
	text-align: right;
	margin: 0;
	transition: 1s;

}



nav ul li{
	display: inline-block;
	padding: 20px;
}


nav ul li a{
	text-decoration: none;
	color: #FFF;
	font-size: 20px;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.3),
				0px 8px 13px rgba(0,0,0,0.3),
				0px 18px 23px rgba(0,0,0,0.3);
	font-family: staatliches;
	letter-spacing: 2px;
	font-weight: bold;



}

nav ul li a:hover{
	text-decoration: underline;
}

.menu-icon{
	width: 100%
	background: #000;
	text-align: right;
	box-sizing: border-box;
	padding: 15px 24px;
	cursor: pointer;
	color: #e2e2e2;
	display: none;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.3),
				0px 8px 13px rgba(0,0,0,0.3),
				0px 18px 23px rgba(0,0,0,0.3);
}




section{
	width: 100%;
	height: 90vh;
	box-sizing: border-box;
}

section.sec1{
	background: url(pics/5.jpeg);
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	width: auto;
}

section content{
	float: left;
	width: 100%;
	padding-top: 10%;
	text-align: center;


	
}

section content .pic1{
	color: white;
	text-align: center;
	font-family: Architects Daughter;
	font-weight: bolder;
	font-size: 2em;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.5),
				0px 8px 13px rgba(0,0,0,0.5),
				0px 18px 23px rgba(0,0,0,0.5);
	color: rgb(255, 255, 255);
}





section.sec2{
	background: url(pics/7.jpeg);
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}
section.sec3{
	background: url(pics/10.jpeg);
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}

section.sec4{
	background: url(pics/1.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}




section.content{
	padding: 50px 55px;
	height: auto;
	background: #e2e2e2;
}

section.content h2{
	margin: 0;
	padding: 0;
	font-size: 3em;
	color: #4a4a4a;
	font-family: Caveat Brush;
	text-transform: uppercase;
}


section.content p{
	font-family: Architects Daughter;
	letter-spacing: 2px;
	font-size: 18px;
	font-weight: normal;
	color: #616161;
	
}

section.content div img{
	border: 3px outset rgba(74, 74, 74,0.1);
	width: 250px;
	height: 150px;
}

section.content div{
	
	text-align: center;

}

fieldset{
	border: 3px dashed #5a5a5a;
	border-radius: 20px;

}

#name{
	font-weight: bolder;
	font-size: 22px;
}





@media (max-width: 705px){
	section.sec2{
		background: url(https://scontent.fmnl4-2.fna.fbcdn.net/v/t1.0-9/32501194_2040237776006048_8939330641091100672_n.jpg?_nc_cat=101&_nc_ht=scontent.fmnl4-2.fna&oh=340f0471cc78883baa31fbec863f7814&oe=5CF3D75C);
		background-size: cover;
		background-position: center center;
		background-attachment: fixed;
	}

	.logo{
		position: fixed;
		top: 0;
		margin-top: 16px;


	}

	nav ul{
		max-height: 0px;
		background: rgba(98, 136, 180,0.8);
	}

	

	.showing{
		max-height: 20em;	
	}

	nav ul li{
		box-sizing: border-box;
		width: 100%;
		padding: 24px 0;

		text-align: center;
	}
	.menu-icon{
		background: rgba(98, 136, 180,0.8);
		padding: 20px;
		display: block;
	}


}